form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 30%;
}

input {
  border: none;
  margin: 0 0 10px 0;
  padding: 8px;
}

button {
  background-color: #035506;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
}
