.personContainer {
  background-color: rgba(255, 255, 255, 0.95);
  border-radius: 30px;
  color: #2c2c2c;
  height: 350px;
  margin: 20px 0;
  padding: 40px;
  width: 230px;
}

.image {
  width: 200px;
  height: 200px;
}

.quote {
  font-style: italic;
}

.remove-button {
  width: 200px;
}
